* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  padding: 15% 10%;
  background-size: cover;
  padding: relative;
  background-color: #1f1f1f;
  color: white;
  font-size: 1rem;
}

.header {
  height: 30%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.header__search {
  height: 50%;
  position: relative;
  background-color: transparent;
}

.header__input {
  width: 100%;
  height: 8vh;
  padding-left: 10%;
  border: 2px solid rgb(100, 0, 0);
}

.button,
.oneWord {
  height: 8vh;
  width: 35vw;
  background-color: #141414;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  z-index: 1;
  font-size: 1rem;
}

.button--search {
  position: absolute;
  right: 0;
  top: 0;
}

.button:hover {
  transform: scale(1.01);
}

.header__buttons {
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.main {
  height: 70%;
  position: relative;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.main__change-button {
  background-color: transparent;
  border: none;
  position: relative;
  margin: 5% 0;
  color: white;
  font-size: 1rem;
}

.main__change-button::before,
.main__change-button::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
}

.main__change-button::before {
  border-bottom: 1rem solid white;
  top: 0;
  left: 110%;
}

.main__change-button::after {
  border-top: 1rem solid rgb(192, 15, 15);
  top: 0;
  left: 140%;
}

.main__which-language {
  margin-left: 15%;
}

.main__dict {
  height: 70%;
  width: 100%;
  position: relative;
}

.main__word,
.addWord__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: black;
}

.main__first-word {
  z-index: 1;
}

.main__second-word {
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.main__second-word--active {
  margin-top: 15vh;
  opacity: 1;
}

.main__button {
  position: absolute;
  left: 50%;
  bottom: 8vh;
  transform: translateX(-50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.main__button--next {
  /* margin-bottom: 10%; */
  bottom: 0;
}

.main__button:hover {
  transform: scale(1.01) translateX(-50%);
}

/* form new word */

.addWord {
  opacity: 0;
  display: none;
  height: 70%;

  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.addWord__form {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.addWord__input {
  left: 0;
  height: 15vh;
  text-align: center;
  color: black;
}

.addWord__input-pl {
  z-index: 1;
}

.addWord__input-en {
  margin-top: 15vh;
}

.allWordsOrSearchResult {
  opacity: 0;
  display: none;
  overflow-y: scroll;
  height: 70%;
}

.allWordsOrSearchResult::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

.allWordsOrSearchResult::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0.5);
}

.allWordsOrSearchResult::-webkit-scrollbar-thumb {
  background-color: rgba(158, 194, 248, 0.3);
  opacity: 0.3;
}

.oneWord {
  height: 5.5vh;
  width: 70%;
  z-index: 0;
  text-align: center;
  margin-top: 2vh;
}

@media (min-height: 640px) {
  html {
    font-size: 18px;
  }
}

@media (min-height: 996px) {
  html {
    font-size: 28px;
  }

  .wrapper {
    padding: 20% 12%;
  }
}

@media (orientation: landscape) {
  .wrapper {
    padding: 5% 25%;
  }

  .button {
    width: 20vw;
  }
}